@mixin reset-password-errors {
  h2 { display: none; }
  ul {
    padding: 0px;
    li {
      color: $white;
      font-size: 14px;
      list-style: none;
      padding: 10px;
      background-color: $black-54;
    }
  }
}

.reset-password {
  font-family: $font-stack-sans;
  margin: auto;
  text-align: center;
  max-width: 500px;
  background: $white url("/images/logo-1.svg") no-repeat center 15px;
  background-size: 36px;
  padding-top: 40px;
  h1 { @include onboarding-heading; }
  input#api_user_password,
  input#api_user_password_confirmation {
    width: 100%;
    @include text-input;
  }
  .reset-password_submit {
    @include button-medium;
    @include button-green;
    display: initial;
  }
  .field { margin-bottom: 20px; }
  #error_explanation { @include reset-password-errors; }
  em { color: #757575; }
}
