/.bundle
/log/*.log
tmp/
config/database.yml
config/config.yml
config/sidekiq.yml
config/sidekiq-test.yml
config/clean_db.yml
*.sw*
*~
public/assets
public/uploads
/.project
db/data
.DS_Store
dump.rdb
/vendor/
/public/viber/*.html
/public/viber/*.png
/public/viber/*.jpg
public/coverage/*
!public/coverage/.gitkeep
coverage/*
.sass-cache/
*.css.map
config/apollo-engine-proxy.json
public/project_export
public/events.json
config/credentials.json
*.rdb
public/report_design/*
!public/report_design/default-template.svg
public/report_design
public/team_dump
.idea
.vscode/launch.json
