stages:
  - build
  - deploy

build_qa:
  image: docker:latest
  services:
    - docker:dind
  tags:
    - meedan
    - meedan-labs
  stage: build
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY

  script:
    - apk add --no-cache curl python3 py3-pip
    - pip install awscli==1.18.103
    - $(aws ecr get-login --no-include-email --region $AWS_DEFAULT_REGION)
    - docker build -f production/Dockerfile -t "$ECR_API_BASE_URL/qa/check/api:$CI_COMMIT_SHA" .
    - docker push "$ECR_API_BASE_URL/qa/check/api:$CI_COMMIT_SHA"
  only:
    - develop

deploy_qa:
  image: docker:latest
  stage: deploy
  services:
    - docker:dind
  tags:
    - meedan
    - meedan-labs
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
    GITHUB_TOKEN: $GITHUB_TOKEN
  script:
    - apk add --no-cache curl python3 py3-pip git
    - pip install ecs-deploy==1.10.1
    - alias aws='docker run -e AWS_ACCESS_KEY_ID -e AWS_SECRET_ACCESS_KEY -e AWS_DEFAULT_REGION --rm -ti amazon/aws-cli'
    - ecs update qa-check-api-migration --image qa-check-api-migration $ECR_API_BASE_URL/qa/check/api:$CI_COMMIT_SHA  
    - taskArn=$(aws ecs run-task --cluster ecs-qa --task-definition qa-check-api-migration --query 'tasks[].taskArn' --output text)
    - echo "Migration task started - $taskArn"
    - aws ecs wait tasks-stopped --cluster ecs-qa --tasks $taskArn
    - ecs deploy ecs-qa qa-check-api --image qa-check-api-c $ECR_API_BASE_URL/qa/check/api:$CI_COMMIT_SHA  --timeout 3600
    - ecs deploy ecs-qa qa-check-api-background --image qa-check-api-background $ECR_API_BASE_URL/qa/check/api:$CI_COMMIT_SHA  --timeout 3600
    - echo "new Image was deployed $ECR_API_BASE_URL/qa/check/api:$CI_COMMIT_SHA"
  only:
    - develop

build_live:
  image: docker:latest
  services:
    - docker:dind
  tags:
    - meedan
    - meedan-labs
  stage: build
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
  script:
    - apk add --no-cache curl python3 py3-pip git
    - pip install docutils==0.14
    - pip install awscli==1.18.103
    - $(aws ecr get-login --no-include-email --region $AWS_DEFAULT_REGION)
    - docker build -f production/Dockerfile -t "$ECR_API_BASE_URL/live/check/api:$CI_COMMIT_SHA" .
    - docker push "$ECR_API_BASE_URL/live/check/api:$CI_COMMIT_SHA"
  only:
    - master

deploy_live:
  image: docker:latest
  stage: deploy
  services:
    - docker:dind
  when: manual
  tags:
    - meedan
    - meedan-labs
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
    GITHUB_TOKEN: $GITHUB_TOKEN
  script:
    - apk add --no-cache curl python3 py3-pip git
    - pip install ecs-deploy==1.10.1
    - alias aws='docker run -e AWS_ACCESS_KEY_ID -e AWS_SECRET_ACCESS_KEY -e AWS_DEFAULT_REGION --rm -ti amazon/aws-cli'
    - ecs update live-check-api-migration --image live-check-api-migration $ECR_API_BASE_URL/live/check/api:$CI_COMMIT_SHA  
    - taskArn=$(aws ecs run-task --cluster ecs-live --task-definition live-check-api-migration --query 'tasks[].taskArn' --output text)
    - echo "Migration task started - $taskArn"
    - aws ecs wait tasks-stopped --cluster ecs-live --tasks $taskArn
    - ecs deploy ecs-live  live-check-api --image live-check-api-c $ECR_API_BASE_URL/live/check/api:$CI_COMMIT_SHA  --timeout 3600
    - ecs deploy ecs-live  live-check-api-background --image live-check-api-background $ECR_API_BASE_URL/live/check/api:$CI_COMMIT_SHA  --timeout 3600
    - echo "new Image was deployed $ECR_API_BASE_URL/live/check/api:$CI_COMMIT_SHA"
  only:
    - master
