/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
db/schema.rb
/log/*.log
/tmp/cache*
/tmp/pids
/tmp/sessions
/tmp/sockets
config/database.yml
config/config.yml
config/sidekiq.yml
config/sidekiq-test.yml
config/initializers/errbit.rb
config/initializers/secret_token.rb
config/cleandb.yml
*.sw*
*~
public/assets
public/uploads
tmp/restart.txt
/.project
db/data
.DS_Store
tmp/restart.txt
tmp/puma-*
dump.rdb
/vendor/
/public/viber/*.html
/public/viber/*.png
/public/viber/*.jpg
travis
travis.zip
tmp/parallel_runtime_test.log
public/coverage/*
!public/coverage/.gitkeep
