@import url('https://fonts.googleapis.com/css?family=Hind');

body {
  text-align: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-family: Hind, sans-serif;
}

html, body {
  background-color: white;
  overflow-x: hidden;
}

a,
a:visited {
  color: #3f7aa8;
}

#container {
  width: 100%;
}

#content {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

#content img {
  width: 100%;
  max-width: 500px;
}

#text, #blank {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #333;
  font-size: 16px;
}
