<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @requestor.name %> (<%= @handle %>) wants to join "<%= @team.name %>" team on Check!</p>
    <p>To process this request, please login and visit <%= @url %></p>
  </body>
</html>
