<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @requestor.name %> wants to join <%= @team.name %> team on Check!</p>
    <p>Go to <%= @url %> to process this request.</p>
  </body>
</html>
