<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @accepted %>
      <p><%= I18n.t(:mail_view_joined, default: "Your request to join %{team} was approved! You can now go to the team's page at %{url} and start contributing!", team: @team.name, url: @url) %></p>
    <% else %>
      <p><%= I18n.t(:mail_view_rejected_to_join, default: "Sorry, but your request to join %{team} was rejected.", team: @team.name %></p>
    <% end %>
  </body>
</html>
