<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= I18n.t(:mail_view_request_to_join, user: @requestor.name, handle: @handle, team: @team.name, app_name: CONFIG['app_name']) %></p>
    <p><%= I18n.t(:mail_view_process_request) %> <%= @url %></p>
  </body>
</html>
