<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @accepted %>
      <p><%= I18n.t(:mail_view_joined, team: @team.name, url: @url) %></p>
    <% else %>
      <p><%= I18n.t(:mail_view_rejected_to_join, team: @team.name) %></p>
    <% end %>
  </body>
</html>
