.settings-example {
  padding: 0px;
  color: #737373;

  i {
    cursor: pointer;
  }

  pre {
    line-height: 1em;
    max-height: 100px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin-top: 5px;
    padding: 5px;
    resize: both;

    &.open {
      height: unset;
      max-height: none;
    }
  }
}

#media_verification_statuses_editor_holder,
#source_verification_statuses_editor_holder,
#checklist_editor_holder {
  & > div > h3 > span {
    display: none;
  }
}

* {
  box-shadow: none !important;
}

.btn {
  color: white !important;
  border-radius: 2px !important;
}

.navbar.navbar-default {
  background-color: $black-05;

  a {
    color: $black-87 !important;
  }
}
