$check-blue: #2e77fc;
$black-87: rgba(0, 0, 0, 0.87);
$black-05: rgba(0, 0, 0, .05);
$brand-primary: $check-blue;
$brand-info: $check-blue;
$link-color: $check-blue;
$nav-pills-active-link-hover-bg: $check-blue;
$btn-primary-bg: $check-blue;
$btn-primary-border: $check-blue;
$btn-info-bg: $check-blue;
$btn-info-border: $check-blue;
$fg-nav-tabs-active: $check-blue;
