@import '../../../sass/shared.scss';

// Material bootstrap theme
$brand-primary: $check-blue;
$brand-info: $check-blue;
$link-color: $check-blue;
$nav-pills-active-link-hover-bg: $check-blue;
$btn-primary-bg: $check-blue;
$btn-primary-border: $check-blue;
$btn-info-bg: $check-blue;
$btn-info-border: $check-blue;
$fg-nav-tabs-active: $check-blue;