development: &default
  secret_token: 
  authorization_header: 'X-Checkdesk-Token'
  twitter_consumer_key: 
  twitter_consumer_secret: 
  facebook_app_id: 
  facebook_app_secret: 
  elasticsearch_host:
  elasticsearch_port:

test:
  <<: *default

production:
  <<: *default
