:redis_host: 'redis'
:redis_port: 6379
:redis_database: 0
:queues:
  - smooch_priority
  - smooch
  - carrierwave
  - esqueue
  - tsqueue
  - default
  - cache
  - fetch
  - pusher
  - trash
  - feed
:concurrency: 15
