---
:redis_host: 'redis'
:redis_port: 6379
:redis_database: 0
:queues:
  - ["default", 1]
  - ["esqueue", 1]
  - ["tsqueue", 1]
  - ["smooch", 1]
  - ["smooch_ping", 1]
  - ["pusher", 1]
  - ["carrierwave", 1]
  - ["fetch", 1]
  - ["trash", 1]
