<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= simple_format I18n.t("mail_body_assignments_ready_#{@event}", { username: @username, project_title: @project_title, project_url: @project_url, assignee: @assignee, app_name: @app_name }) %>
  </body>
</html>
