<div class="message">
  <p><img src="/images/check.svg" class="check-logo" /></p>
  <p><%= simple_format @message %></p>
  <p><a href="javascript:window.close()" class="button-link"><%= I18n.t(:go_back_to_check) %></a></p>
</div>
